{% load static %}
<div class="col-sm-9 container-fluid" style="background-color: #3D2B1F;color:#FFFFFF;border: solid 2px #CCFFFF;border-radius: 5px;margin-top: 10px; ">
   <div class="row container-fluid" style="color: #FFFFFF">
      <h2 style="text-align: center; font-family: 'Jazz LET';">Certificats Informatique</h2>
      <div style="text-align: left; ">
         <div class="row">
            <div class="col-sm-6 container-fluid">
               <ul>
                  <li style="font-size: 18px; padding-left: 25px;">ENSAE-ANSAI Certification PYTHON(2020).</li>
               </ul>
               <br/>
               <embed src="https://lysiahcv.s3-eu-west-1.amazonaws.com/certificats.pdf" style="width:309px;height:255px;padding-left: 25px;"/>
            </div>
            <div class="col-sm-6 container-fluid">
               <ul>
                  <li style="font-size: 18px; padding-left: 25px;">ENSAE-ANSAI Certification en SQL(2020).</li>
               </ul>
               <embed src="https://lysiahcv.s3-eu-west-1.amazonaws.com/certificatssql.pdf" style="width:320px;height:275px;padding-top: 15px;padding-left: 25px;"/>
            </div>
         </div>
      </div>
   </div>
</div>