<div class="col-sm-9 container-fluid" style="background-color: #3D2B1F;color:#FFFFFF;border: solid 2px #CCFFFF;border-radius: 5px;margin-top: 10px; ">
   <div class="row container-fluid" style="color: #FFFFFF">
      <h2 style="font-family: 'Jazz LET'; ">Experiences</h2>
      </br>
      <div style="text-align: left; ">
         <span style="font-size: 20px; padding-left: 5px;">Conceptrice logiciel API Rest chez "MONEYS HOME" France(2019 - 2020).</span><br/>
         <p style="font-size: 16px; padding-left: 5px;">  En tant que conceptrice logiciel, ma principale mission étais de concevoir et exposé des apis sous Amazone web service.<br/>
            La création des Fonctions lambda en python, la gestion des utilisateurs sur le service Cognito de AWS, création de bases de données avec RDS,déployement des applications en environnement de qualif et de production sur Elastic Beanstalk.<br/>
            Le suivi de projet, gestion de temps et de coûts sur AWS.
            La gestion des test fonctionel avec l'outil postman.
         </p>
         <span style="font-size: 20px; padding-left: 5px;">Création d'un site web en ligne représentatif de mon cv (Janvier 2020 - En cours).</span><br/>
         <p style="font-size: 16px; padding-left: 5px;"> 
            J'ai travaillé sur un projet web centralisé sur la représentation de mon cv. <br/>Je considère cela comme une expérience , car cela m'a permis d'amélioré ma maitrise des framworks comme DJANGO et Bootstrap et de me perfectionner en HTML et CSS.
            J'ai utilisé L'interface Linux Heroku CLI en ligne de commande pour deployer cette application faite en Django sur les serveurs de Heroku.
         </p>
      </div>
   </div>
</div>