<div class="col-sm-9 container-fluid" style="background-color: #3D2B1F;margin-top: 10px;color:#FFFFFF;border: solid 2px #CCFFFF;border-radius: 5px;">
   <div class="row" style="color: #FFFFFF; padding-right: 50px margin:200px" >
      <h2 style="text-align: center;font-family: 'Jazz LET'; ">Formations</h2>
      </br>
      <div style="text-align: left; ">
         <ul>
            <li style="font-size: 18px; padding-left: 25px;">Formation intensif de 1 an en informatique (2019-2020).</li>
            <br/><br/>                     
            <li style="font-size: 18px; padding-left: 25px;">MBA International de l'ESDES de LYON(2017).</li>
            <br/><br/>
            <li style="font-size: 18px; padding-left: 25px;">Licence Fondamentale en Gestion IBN KHALDOUN (2015).</li>
            <br/><br/>
            <li style="font-size: 18px; padding-left: 25px;">BAC semi scientiphique (2012).</li>
            <br/>
         </ul>
      </div>
   </div>
</div>