{% load static %}
<div class="col-sm-9 text-left">
   <div class="row well" style="margin-left: 5px;margin-top: 10px;margin-right: 5px;">
      <h1 style="font-size: 30px; font-weight: bold;">Bienvenue</h1>
      <p style="font-size: 15px;font-family: 'Jazz LET'"> Je suis MENGUE Lysiah conceptrice logiciel spécialisé dans les API REST.
         Mon langage de base est le Python, j'ai un Bac + 5 (MBA de l'ESDES DE LYON).
         Passioné par l'informatique depuis 2018 j'ai fais des formations continue à l'issu desquelles j'ai obtenue  deux certificats informatique avec Openclassroom.
         Ce site web est donc une représentation de mon cv en version web. Je l'ai devellopé en utilisant le framework Django et son deployement a été fait sur les serveurs cloud Heroku en utilisant l'interface Linux Heroku-cli. Pourquoi ai je choisi Heroku ? Parceque qu'il fallait que j'utilise une platforme autre que AWS que je connais déja. De plus cette platforme cloud offre des services comme des serveurs que l'on peut utiliser pour déployer son application gratuitement. Ci dessous en défilement les images des compétences déja acquises. vous pourrez recuperer mon cv  <a href='/moncv' style="color: blue">ici</a> ou sur l'onglet recuperer mon cv.
      </p>
   </div>
   <div class="row">
      <div class="w3-content w3-section" style="max-width:500px;">
         <div class="mySlides w3-animate-right">
            <img class="img-thumbnail" src="{% static 'imagecv/pyth.png'%}" style="width:500px;height:300px;">
         </div>
         <div class="mySlides w3-animate-right">
            <img class="img-thumbnail" src="{% static 'imagecv/a.png' %}" 
               style="width:500px;height:300px;">
         </div>
         <div class="mySlides w3-animate-right">
            <img class="img-thumbnail"  src="{% static 'imagecv/django-logo.png' %}"
               style="width:500px;height:300px;" >
         </div>
         <div class="mySlides w3-animate-right">
            <img class="img-thumbnail"  src="{% static 'imagecv/css-html.png' %}"
               style="width:500px;height:300px;">
         </div>
         <div class="mySlides w3-animate-right">
            <img class="img-thumbnail"  src="{% static 'imagecv/boots.png' %}" 
               style="width:500px;height:300px;">
         </div>
         <div class="mySlides w3-animate-right">
            <img class="img-thumbnail"  src="{% static 'imagecv/git.png' %}" style="width:500px;height:300px;">
         </div>
         <div class="mySlides w3-animate-right">
            <img class="img-thumbnail"  src="{% static 'imagecv/linux.jpeg' %}" 
               style="width:500px;height:300px;">
         </div>
         <div class="mySlides w3-animate-right">
            <img class="img-thumbnail"  src="{% static 'imagecv/mysql.png' %}"
               style="width:500px;height:300px;" >
         </div>
         <div class="mySlides w3-animate-right">
            <img class="img-thumbnail"  src="{% static 'imagecv/postman.png' %}"
               style="width:500px;height:300px;" >
         </div>
         <div class="mySlides w3-animate-right">
            <img class="img-thumbnail"  src="{% static 'imagecv/notepad.png' %}"
               style="width:500px;height:300px;">
         </div>
         <div class="mySlides w3-animate-right">
            <img class="img-thumbnail"  src="{% static 'imagecv/sublime_text.jpeg' %}"
               style="width:500px;height:300px;"> 
         </div>
      </div>
   </div>
</div>