<div class="col-sm-9 container-fluid" style="background-color: #3D2B1F;color:#FFFFFF;border: solid 2px #CCFFFF;border-radius: 2px; margin-top: 10px;">
   <div class="row container-fluid" style="color: #FFFFFF">
      <h2 style="text-align: center; ">Logiciels et Outils</h2>
      </br>
      <p style="text-align: center; ">
         Dans l'éxécution de mes differentes missions, plusieur logiciels et outils me permetent d'écrire,améliorer,tester,d'executer et de deployer mon code.
      </p>
   </div>
   <div class="row container-fluid">
      <div class="col-sm-3" >
         <h3 style="font-size: 18px;font-weight: bold">Programation:</h3>
         <ul>
            <li>Python</li>
            <li>SQL</li>
            <li>HTML</li>
            <li>CSS3</li>
         </ul>
      </div>
      <div class="col-sm-3" >
         <h3 style="font-size: 18px;font-weight: bold;">FrameWork:</h3>
         <ul>
            <li>Django</li>
            <li>BOOTSRAP</li>
         </ul>
      </div>
      <div class="col-sm-3" >
         <h3 style="font-size: 18px;font-weight: bold;">Outils:</h3>
         <ul>
            <li>POSTMAN</li>
            <li>GIT</li>
            <li>JENKIS</li>
            <li>LINUX</li>
            <li>CURLS</li>
            <li>SUBLIME-TEXT</li>
            <li>NOTEPAD+</li>
            <li>pip3</li>
            <li>Design pattern MVT</li>
         </ul>
      </div>
      <div class="col-sm-3" >
         <h3 style="font-size: 18px;font-weight: bold;">Service et Cloud:</h3>
         <ul>
            <li>Amazon Web Service</li>
            <li>API REST</li>
            <li>AWS CLI</li>
            <li>HEROKU CLI</li>
            <li>GITHUB</li>
         </ul>
      </div>
   </div>
</div>