 <div class="col-sm-3 sidenav" >
               <a href='/home' style="text-decoration: none;">
                  <div class="well menu btn  btn-block" style="padding-right: 150px;">
                     <div class="fa-stack fa-lg">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-home fa-stack-1x fa-inverse"></i>
                        <span style="margin-left: 50px; font-size: 15px;">Acceuil</span> 
                     </div>
                  </div>
               </a>
               <a href='/moncv' style="text-decoration: none;">
                  <div class="well menu btn btn-block" style="padding-right: 150px;">
                     <div class="fa-stack fa-lg">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-key fa-stack-1x fa-inverse"></i>
                        <span style="margin-left: 50px;font-size: 15px;">Recuperer mon CV</span> 
                     </div>
                  </div>
               </a>
               <a href="/logiciel" style="text-decoration: none;">
                  <div  class="well menu btn btn-block" style="padding-right: 150px;">
                     <div class="fa-stack fa-lg">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-wrench fa-stack-1x fa-inverse"></i>
                        <span style="margin-left: 50px;font-size: 15px;">Logiciel et Outils</span>
                     </div>
                  </div>
               </a>
               <a href="/experience" style="text-decoration: none;">
                  <div class="well menu btn btn-block" style="padding-right: 150px;">
                     <div class="fa-stack fa-lg">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-building-o fa-stack-1x fa-inverse"></i>
                        <span style="margin-left: 50px;font-size: 15px;"> Mes Experiences</span>
                     </div>
                  </div>
               </a>
               <a href="/certificat" style="text-decoration: none;">
                  <div class="well menu btn btn-block" style="padding-right: 150px;">
                     <div class="fa-stack fa-lg">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-certificate fa-stack-1x fa-inverse"></i>
                        <span style="margin-left: 50px;font-size: 15px;">Certificat Informatique</span>
                     </div>
                  </div>
               </a>
               <a href="/formation" style="text-decoration: none;">
                  <div class="well menu btn btn-block" style="padding-right: 150px;">
                     <div class="fa-stack fa-lg">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-graduation-cap fa-stack-1x fa-inverse"></i>
                        <span  style="margin-left: 50px;font-size: 15px;">Ma Formation</span>
                     </div>
                  </div>
               </a>
            </div>