{% load static %}
<!DOCTYPE html>
<html>
  {% include "_head.html" %}
<body>
	<div class="container-fluid">
      {% include "_header.html" %}
      <div  class="row">

            {% include  '_home.html' %}           

            {% include  '_menu.html' %}         
      </div>
      <br/><br/> <br/>
      <div class="row container-fluid" style="background-color: #C3C6C7; padding: 15px;">
            {% include  '_footer.html' %}    
      </div>

</div>
<script>
var myIndex = 0;
carousel();

function carousel() {
  var i;
  var x = document.getElementsByClassName("mySlides");
  for (i = 0; i < x.length; i++) {
    x[i].style.display = "none";  
  }
  myIndex++;
  if (myIndex > x.length) {myIndex = 1}    
  x[myIndex-1].style.display = "block";  
  setTimeout(carousel, 8500);    
}
</script>
 </body>	
</html>